{% load static %}

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <div class="d-flex justify-content-center justify-content-lg-between m-0 p-4 border-bottom bg-secondary text-white">
      <!-- Left -->
      <div class="d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div class="">
        <a href="" class="mx-4 text-white"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="mx-4 text-white"><i class="fab fa-twitter"></i></a>
        <a href="" class="mx-4 text-white"><i class="fab fa-google"></i></a>
        <a href="" class="mx-4 text-white"><i class="fab fa-instagram"></i></a>
        <a href="" class="mx-4 text-white"><i class="fab fa-linkedin"></i></a>
        <a href="" class="mx-4 text-white"><i class="fab fa-github"></i></a>
      </div>
      <!-- Right -->
    </div>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <div class="" style="color: black;">
      <div class="container text-center text-md-start mt-5 bg-light">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <img src="{% static 'img/FRIDGEGATE-logo-black.png' %}" class="img-fluid px-3 mb-4" alt="FridgeGate Logo">
            <p class="text-left nav-link">
              P.O. Box 466 – 00204 <br>
              Athi Rive, Kenya <br>
              Kevin Muriuki – Managing Director <br>
              +254 715 555 602 <br>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 font-weight-bold nav-link">Products</h6>
            <p><a href="#!" class="text-dark nav-link">Constaction materials</a></p>
            <p><a href="#!" class="text-dark nav-link">Office Supplies</a></p>
            <p><a href="#!" class="text-dark nav-link">Raw Materials</a></p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 font-weight-bold nav-link">Company</h6>
            <p><a href="{% url 'about-us' %}" class="text-dark nav-link">About Us</a></p>
            <p><a href="{% url 'contact' %}" class="text-dark nav-link">Contact</a></p>
            <p><a href="mailto:queries@fridgegate.co.ke" class="text-dark nav-link">Help</a></p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mb-md-0 mb-4 text-center">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 font-weight-bold nav-link">Contact</h6>
            <p class="nav-link">Arthi-River, 466 – 00204 , KENYA</p>
            <p><a href="mailto:queries@fridgegate.co.ke" class="text-muted nav-link">queries@fridgegate.co.ke</a></p>
            <p><a href="tel:+254715555602" class="text-muted nav-link">+ 254 715 555 602</a></p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </div>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:<a class="text-reset fw-bold mx-2 text-primary" href="/">FridgeGate International Limited Company</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- End Footer -->