{% load static %}

<nav class="navbar navbar-expand-lg navbar-primary w-100 shadow" style="display: flex;justify-content: space-between;">
    <a href="/">
        <img src="{% static 'img/FRIDGEGATE logo.png' %}" height="60" alt="...">
    </a>
    <button class="navbar-toggler text-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>


        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link text-primary" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link text-primary" href="{% url 'about-us' %}">About Us</a></li>
            <li class="nav-item"><a class="nav-link text-primary" href="{% url 'product-list' %}">Products</a></li>
            <li class="nav-item"><a target="_blank" class="nav-link text-primary" href="{% static 'FridgegateProfile.pdf' %}">Profile</a></li>
        </ul>
    </div>
</nav>