{% extends 'base.html' %}
{% load static %}
{% block title %}Products{% endblock %}
{% block content %}
<div class="container-fluid" style="background-image: url('/static/img/barner-1.jpg');background-repeat:no-repeat; background-size:cover;">
  <div class="row text-center align-items-center justify-content-center" style="height: 80vh;">
    <div class="col-md-6">
        <h1 class="text-white font-weight-bold display-2">OUR PRODUCTS</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
    <h1 class="display-4 text-center py-4 my-2 border-bottom border-top text-uppercase">Office Supplies</h1>
    <div class="row justify-content-center py-5">
        <div class="col-md-4">
            <ul style="list-style: none;">
                <li>Computer equipment, printers & toners</li>
                <li>Drinking Water</li>
                <li>Protective wearables</li>
                <li>Consumables (Rentokil, cleaning products, kitchen products)</li>
            </ul>
        </div>
    </div>

    <h1 class="display-4 text-center py-4 my-2 border-bottom border-top text-uppercase">Raw materials & minerals</h1>
    <div class="row justify-content-center py-5">
        <div class="col-md-4">
            <ul style="list-style: none;">
                <li>Dolomite</li>
                <li>Vinnapass 1510 N</li>
                <li>Riversand</li>
                <li>Polyvinyl Alcohol </li>
                <li>Tylose </li>
                <li>Cement (Blue Portland and White Portland cement)</li>
                <li>BOPP Laminated bags</li>
                <li>Gunny bags</li>
                <li>Nylon Sacks</li>
            </ul>
        </div>
    </div>
    <h1 class="display-4 text-center py-4 my-2 border-bottom border-top text-uppercase">Construction Materials</h1>
    <div class="row justify-content-center py-5">
        <div class="col-md-4">
            <ul style="list-style: none;">
                <li>Quarry stones (Manual cut & Machine cut)</li>
                <li>Riversand</li>
                <li>Timber</li>
                <li>Y8, Y10, Y12 galvanized steel rebars</li>
                <li>Tile Adhesives</li>
                <li>Tile Grout</li>
                <li>Wall skimmers & filters</li>
                <li>Granite counter tops</li>
                <li>Cement(Blue Portland and White Portland Cement)</li>
            </ul>
        </div>
    </div>
    <h1 class="display-4 text-center py-4 my-2 border-bottom border-top text-uppercase">General services</h1>
    <div class="row justify-content-center py-5">
        <div class="col-md-4">
            <ul style="list-style: none;">
                <li>Renovations & general office maintenance</li>
                <li>Office cleaning & sanitary services</li>
                <li>services limited to Local transport for individual or group transfers</li>
                <li>Graphic Design & Branding</li>
                <li>Web Design & Web Applications</li>
                <li>PR & social media management </li>
            </ul>
        </div>
    </div>
</div>



{% endblock %}